<header class="header">
        <section id="header_main" class="header_main">
            <section class="wrapper">
                <nav class="top-nav">
                    <div class="top-menu left">
                        <ul class="menu">
                            <!--前台登录与注册-->
                            <li class="menu-item menu-item-welcome">
                                一切都是命运石之门的选择！ </li>
                            <li class="menu-item menu-item-login">
                                <a class="user-login" href="{:url('index/admin/index')}">
                                    <i class="icon-login"></i>
                                    登录 </a>
                            </li>
                        </ul>
                    </div>

                </nav>
                <!--菜单-->
                <nav class="header-nav">
          
<div class="header-menu right"><ul class="menu"><li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-13"><a href="">233次元</a>
<ul class="sub-menu">
    <li id="menu-item-198" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-198"><a href="">新番</a></li>
    <li id="menu-item-195" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-195"><a href="">旧番</a></li>
    <li id="menu-item-196" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-196"><a href="">神剧</a></li>
    <li id="menu-item-196" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-196"><a href="">CosPlay</a></li>
    <li id="menu-item-196" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-196"><a href="">本子</a></li>
</ul>
</li>
<li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-15"><a href="">弱鸡之道</a>
<ul class="sub-menu">
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">PHP</a></li>
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">MySQL</a></li>
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">WebSocket</a></li>
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">代码块</a></li>
</ul>
</li>
<li id="menu-item-174" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-174 menu-item-has-children" ><a href="">不正经言谈</a>
<ul class="sub-menu">
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">硬件</a></li>
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">游戏</a></li>
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">影视</a></li>
    <li id="menu-item-52" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-52"><a href="">工具</a></li>
</ul>
</li>
<!-- <li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14"><a href="">launchPad</a></li> -->
<li id="menu-item-202" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-202"><a href="">听我的</a>
<ul class="sub-menu">
    <li id="menu-item-207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207"><a href="">我的歌单</a></li>
    <li id="menu-item-204" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-204"><a href="">推荐音乐</a></li>
</ul>
</li>
</ul></div>            </nav>
                <!--菜单end-->
            </section>
        </section>
    </header>